* {
    margin: 0;

}

/* -------------------- FONT --------------------------- */
h1, h2, h3, h4, h5, h6, p, span {
    font-family: 'Roboto', sans-serif;
}
p {
    display: inline-block !important;
}





/* ---------------------- BACKGROUND --------------------- */

header {
    height: 100vh;
    background-image: url('./assets/banner.jpg');
}
.card-bg-1 {
    background-image: url('./assets/card_1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

#card-bg-2 {
    background-image: url('./assets/card_2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.about-gb {
    background-image: url('./assets/img_8.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover; 
}




/*              COLOR            */
.bg-color {
    background-color: #323a56;
}
.bg-color-2 {
    background-color: #dee2e6;
}
/* .bg-color-3 {
    background-color: #323a56;
} */
.bg-color-4 {
    background-color: #b31536;
}
.bg-color-5 {
    background-color: #d9dfe5;
}
.bg-color-6 {
    background-color: #ccd1e5;
}
.bg-color-7 {
    background-color: #ccd1e5;
}
.bg-color-8 {
    background-color: #e3353b;
}
.footer-bg {
    background-color: #333333;
}
.text-color-purple {
    color: #ccd1e5;
}
.text-color-dark-blue {
    color: #323a56;
}
.shadow-color-2 {
    /* border: 1px solid #323a56; */
    box-shadow: 10px 10px #ccd1e5;;
}
/* .border-color {
    border-right: 1px solid #323a56;
    border: 0 0 0 3px ;
} */


/* ------------------ WIDTH AND HEIGHT ------------------- */

.w-90 {
    width: 90vw;
}
.w-80 {
    width: 80vw;
}
.custom-w {
    width: 80vw;
}
.custom-w100 {
    width: 100vw;
}

.custom-w-80 {
    width: 80% !important;
}
.card-blue-h {
    height: 75% !important;
}
.custom-card {
    height: 120vh !important;
    /* border: 1px solid #FFF; */
    padding: 0;
    margin: 0;
}
.section-h {
    height: 100vh !important;
    /* min-height: 100vh !important; */
}
.section-h-75 {
    height: 75vh !important;
    /* min-height: 100vh !important; */
}

.custom-h-70 {
    height: 60%;
}
.custom-h-30 {
    height: 39%;
}
.h-40 {
    height: 40%;
}

.custom-h {
    height: 80% !important;
}

footer {
    height: 40vh !important;
}
.bande-w {
    width: 1vw;
}
/* #slider {
    height: 50vh;
} */




/* --------------- TEXT ----------------- */
.text-align {
    text-align: justify;
}

h3 {
    text-transform: capitalize;
}



/* ---------------------- OTHER ELEMENT ----------------------  */

.text-shadow {
    text-shadow: 2px 2px #000;
}
section {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
}

.btn-custom {
    padding: 0.7em 3em;
    border: 2px solid #fff;
    text-decoration: none;
    text-transform: uppercase   ;
    color: #fff;
}
.btn-custom:hover {
    background-color: #fff;
    color: #29314a;
}

.btn-custom-2 {
    background: none;
    padding: 0.7em 3em;
    border: 2px solid #29314a;
    text-decoration: none;
    text-transform: uppercase   ;
    color: #29314a;
}
.btn-custom-2:hover {
    background-color: #29314a;
    color: #fff;
}

.form-control {
    border: 1px solid #2b60ad;
    outline: none;
}
/* ---------------- RESPONSIVE ELEMENTS --------------------- */
/* @media (max-width: 767.98px) {
    
} */
@media (min-width: 767.98px) and (max-width: 1199.98px) {
    .custom-h-80 {
        height: 70vh !important;
    }
}
@media (min-width: 767.98px) {
    .shadow-color-2 {
        /* border: 1px solid #323a56; */
        box-shadow: 2vw #dee2e6;
    }
    .section-h {
        height: 70vh !important;
        /* min-height: 100vh !important; */
    }
}


@media (max-width: 767.98px) {
    .w-75 {
        width: 100% !important;
    }
}
@media (min-width: 991.98px) {
    .h75 {
        height: 80% !important;
    }
    
}
@media (max-width: 765.98px) {
    .custom-h {
        height: 80% !important;
    }

    .card-blue-h {
        height: 60% !important;
    }

    .custom-card {
        height: 90vh !important;
    }

    .custom-w {
        width: 90vw;
    }
    .custom-h-about {
        height: 55%
    }
    .w-80 {
        width: 90vw;
    }
    .btn-custom-2 {
        padding: 0.5em 2em;
    }
    footer {
        height: 25vh !important;
    }
}

@media (max-width: 991.98px) {
    .h-xs-25 {
        height: 25% !important;
    }
}
@media (max-width: 1199.98px) {
    .custom-card {
        height: 80vh !important;
    }
    .custom-h-70 {
        height: 55%;
    }
}